* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

/* APARTADO NAVBAR */

.navbar {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 5px solid #444444 !important;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
    color: #4f87ff !important;
}

.flags img {
    width: 28px;
    height: auto;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'><path stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.nav-item {
    font-size: 18px;
}

/* APARTADO "HOME" */

#home-section {
    background-image: url("../img/funds/home-fund.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.profile-container {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.profile-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 20px;

    border-radius: 50%;
    border: 5px solid #ffffff;
    transition: border-color 0.3s ease, color 0.4s ease !important;
}

.content-home h1 {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    margin-left: 20px;
}

.content-home p {
    color: #ffffff;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    margin-left: 20px;
}

/* ALTERNATIVA EN DISPOSITIVOS PEQUEÑOS */

@media (max-width: 576px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }

    .profile-img {
        margin-right: 0;
        margin-bottom: 10px;
        width: 200px;
        height: 200px;
    }

    .profile-container div h1 {
        text-align: center;
    }

    .profile-container div p {
        text-align: center;
    }
}

/* APARTADO FORMULARIO */

.title-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #3e638d, #124987);
    border-top: 5px solid #4878b0;
    border-bottom: 5px solid #4878b0;
    height: 80px;
    width: 100%;
}

.title-form {
    color: #ffffff;
    margin: 50px;
}

.button-contac {
    color: #000000 !important;
}

#WSP {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#WSP a {
    color: white;
    font-size: 30px;
}

#WSP a:hover {
    color: #f1f1f1;
    text-decoration: none;
}