* {
    margin: 0;
    padding: 0;
}

/* APARTADO NAVBAR */

.logo-text {
    text-decoration: none;
    color: #ffffff;
    font-size: 27px;
}

.navbar {
    background: linear-gradient(to bottom, #0A2647, #114179) !important;
    border-bottom: 5px solid #4765c7 !important;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
    color: #4f87ff !important;
}

.icono-navbar {
    margin-right: 3px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'><path stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.nav-item {
    font-size: 18px;
}

/* APARTADO MAIN */

.general-main {
    margin-top: 100px;
}

/* ALTERNATIVA EN DISPOSITIVOS PEQUEÑOS */

@media (max-width: 576px) {
    .general-main {
        margin-top: 85px;
    }
}

/* APARTADO "HOME" */

.profile-container {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: auto;
}
.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 20px;

    border-radius: 50%;
    border: 5px solid #7497ff;
    transition: border-color 0.3s ease, color 0.4s ease !important;
}

.profile-img:hover {
    border: 5px solid #ffd374;
    transform: color #a9bfff;
}

/* ALTERNATIVA EN DISPOSITIVOS PEQUEÑOS */

@media (max-width: 576px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .profile-container div h2 {
        text-align: center;
    }

    .profile-container div p {
        text-align: center;
    }
}

/* APARTADO FORMULARIO */

.title-form {
    text-align: center;
}